@charset "utf-8";
/* CSS Document */

/* ************************************************************************************************************************

Doctor Traveling

File:			app.scss
Author:			Amapolazul
Homepage:		www.amapolazul.com
Copyright:		2017

************************************************************************************************************************ */

/* ---------- Variables ---------- */

$primary_color: #0b3262;
$secondary_color: #5d5d5d;

/* ---------- General ---------- */

* {
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	padding: 0;
	font: {
		size: 14px;
	}
	color: $secondary-color;
}

a {
	color: $primary_color;
}

/* ---------- Template ---------- */

/* Line Top */

.line_top {
	height: 22px;
	margin-bottom: 40px;
	background-color: $primary_color;
}

/* Top */

.top {
	.title_1 {
		padding: 15px 0;
		font-size: 16px;
		color: $primary_color;
		text-align: center;
	}
	.top_1 {
		margin-top: 100px;
	}
	.top_2 {
		a.download {
			margin-top: 40px;
			background-color: #f2f2f2;
		}
	}
	.top_3 {
		margin-top: 0;
	}
	.title_2 {
		max-width: 410px;
		margin: auto;
		margin-top: 40px;
		padding: 10px;
		background-color: $primary_color;
		-webkit-border-top-left-radius: 10px;
		-webkit-border-top-right-radius: 10px;
		-moz-border-radius-topleft: 10px;
		-moz-border-radius-topright: 10px;
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;
		font: {
			size: 20px;
			weight: normal;
		}
		color: #fff;
		letter-spacing: 2px;
		text-align: center;
	}
}

/* Welcome */

.welcome {
	padding: 25px 0;
	background-color: #f2f2f2;
	.logo {
		border-right: 1px solid $primary_color;
	}
	.text {
		h2 {
			font: {
				size: 24px;
				weight: bold;
			}
			color: $primary_color;
			small {
				font-size: 24px;
				color: $primary_color;
			}
		}
		p {
			font-size: 14px;
		}
	}
}

/* Introduction */

.introduction {
	padding: 35px 0;
	h2 {
		font-size: 16px;
		color: $primary_color;
	}
	p {
		font-size: 14px;
	}
}

/* Form */

.form {
	.container {
		.nav-tabs {
			background-color: #f2f2f2;
			border: none;
			li {
				&.active {
					background-color: $primary_color;
					a {
						color: #fff;
					}
				}
				&.red {
					background-color: red;
					a {
						color: #fff;
					}
				}
				a {
					background: transparent;
					border: none;
				}
			}
		}
		.tab-content {
			padding: 15px;
			border: 1px solid #f2f2f2;
			button.btn.btn-primary {
				background-color: $primary_color;
				border-color: $primary_color;
			}
			.box_1 {
				margin-bottom: 15px;
				padding: 15px;
				border: 1px solid #f2f2f2;
				h2 {
					font: {
						size: 14px;
						weight: bold;
					}
					color: $primary_color;
				}
				strong {
					color: $primary_color;
				}
				a.btn.btn-primary {
					background-color: $primary_color;
					border-color: $primary_color;
				}
				ul {
					margin-left: 20px;
				}
				.space {
					margin: 40px 0;
				}
			}
			.rates {
				margin: 0;
				.col-xs-12,
				.col-md-4 {
					padding: 0;
					.box_2 {
						margin: 5px;
						img	{
							border: 1px solid #f2f2f2;
						}
					}
				}
			}
		}
	}
	.text {
		p {
			margin: 15px 0;
			font-size: 16px;
		}
	}
}

/* Bottom */

.bottom {
	background-color: $primary_color;
	p {
		margin: 15px;
		font-size: 16px;
		color: #fff;
	}
}

/* ---------- Media Queries ---------- */

/* Extra small devices */

@media (max-width: 767px) {

	/* Top */

	.top {
		.top_1,
		.top_3 {
			margin: 20px 0;
		}
	}

}

/* Small devices */

@media (min-width: 768px) and (max-width: 991px) {}

/* Medium devices */

@media (min-width: 992px) and (max-width: 1199px) {}

/* Large devices */

@media (min-width: 1200px) {}

/* ---------- Others ---------- */

.img-center {
	margin: auto;
}

.clear {
	clear: both;
}