@charset "utf-8";
/* CSS Document */

/* ************************************************************************************************************************

THG

File:			app.scss
Author:			Amapolazul
Homepage:		www.amapolazul.com
Copyright:		2017

************************************************************************************************************************ */

/* ---------- Variables ---------- */

$primary_color: #5a5b5a;
$secondary_color: #2c334e;
$tertiary_color: #1b2030;
$fourth_color: #d51a68;
$fifth_color: #575757;
$background: #f0f0f0;
$border: #575757;

/* ---------- General ---------- */

@import url('https://fonts.googleapis.com/css?family=Ubuntu');

* {
	margin: 0;
	padding: 0;
}

body {
	font: {
		family: 'Ubuntu', sans-serif;
		size: 14px;
	}
	color: $primary_color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Ubuntu', sans-serif;
}

a {
	color: $secondary_color;
	&:hover {
		color: $secondary_color;
	}
}

/* ---------- Template ---------- */

/* Top */

.top {
	.moduletable_to1 {
		padding: 20px 40px 20px 0;
	}
	.moduletable_to2 {
		width: 250px;
		margin: auto;
		padding: 5px 0;
		background-color: $background;
		-webkit-border-radius: 0 0 10px 10px;
		border-radius: 0 0 10px 10px;
		color: $secondary_color;
		text-align: center;
		/*float: right;*/
		position: relative;
	}
	.moduletable_to3 {
		margin: 10px 0;
		border: {
			top: 1px solid $border;
			bottom: 1px solid $border;
		}
		.top-bar {
			padding: 0;
			background-color: transparent;
			.top-bar-title {
				margin: 0;
			}
			#responsive-menu {
				width: 100%;
				ul.menu {
					background-color: transparent;
					li {
						padding: 0 17px;
						background: {
							image: url(moduletable_to3_menu_li_bg.png);
							position: right;
							repeat: no-repeat;
						}
						&:last-child {
							background: none;
						}
						&.current-menu-parent,
						&.current-menu-item,
						&.current_page_parent {
							a {
								border: {
									top: 2px solid $fourth_color;
									bottom: 2px solid $fourth_color;
								}
								color: $fourth_color;
							}
						}
						a {
							padding: 10px 15px;
							border: {
								top: 2px solid transparent;
								bottom: 2px solid transparent;
							}
							font-size: 11px;
							color: $secondary_color;
							text-transform: uppercase;
							&:hover {
								border: {
									top: 2px solid $fourth_color;
									bottom: 2px solid $fourth_color;
								}
								color: $fourth_color;
							}
							&:before {
								margin-bottom: 5px;
								font: {
									family: FontAwesome;
									size: 20px;
								}
								text-align: center;
								display: block;
							}
							&:after {
								border: {
									top-width: 4px;
									left-width: 4px;
									right-width: 4px;
									top-color: $secondary_color;
								}
							}
						}
						&#menu-item-334 {
							a {
								&:before {
									content: '\f015';
								}
							}
						}
						&#menu-item-354 {
							a {
								&:before {
									content: '\f2b5';
								}
							}
						}
						&#menu-item-377 {
							a {
								&:before {
									content: '\f0c0';
								}
							}
						}
						&#menu-item-446 {
							a {
								&:before {
									content: '\f0b1';
								}
							}
						}
						&#menu-item-382 {
							a {
								&:before {
									content: '\f10b';
								}
							}
						}
						&#menu-item-417 {
							a {
								&:before {
									content: '\f0e0';
								}
							}
						}
						&#menu-item-331 {
							display: none;
							a {
								&:before {
									content: '\f02e';
								}
							}
						}
						&#menu-item-499 {
							a {
								height: fit-content;
								margin: 12px 0;
								padding: 10px 15px;
								background-color: $fourth_color;
								-webkit-border-radius: 10px;
								-moz-border-radius: 10px;
								border-radius: 10px;
								color: #fff;
							}
						}
						ul.sub-menu {
							min-width: 150px;
							padding: 10px;
							background-color: #fff;
							border: 0;
							z-index: 100;
							li {
								background-image: none;
								z-index: 100;
								a {
									width: 100%;
									padding: 10px;
									border: none;
									z-index: 100;
									&:hover {
										background-color: $fifth_color;
										color: #fff;
									}
								}
							}
						}
					}
				}
			}
		}
	}
	.moduletable_to4 {
		padding: 20px 0;
	}
}

.f-nav {
	width: 1000px;
	top: 0;
	background-color: #fff;
	position: fixed;
	z-index: 9999;
}

/* Banner */

.banner {
	.moduletable_ba1 {
		.flexslider {
			margin: 0;
		}
	}
}

/* Content */

.content {
	padding: 30px 0;
	h1 {
		&.title_home,
		&.title_content {
			margin-bottom: 30px;
			font-size: 18px;
			color: $fourth_color;
			span {
				font-weight: bold;
			}
			a {
				color: $fourth_color;
			}
		}
		&.title_content {
			font-weight: bold;
			color: $fourth_color;
		}
	}
	h2 {
		font-size: 14px;
		font-weight: bold;
		color: $fourth_color;
		&.title_content {
			font-size: 36px;
			font-weight: normal;
			color: $primary_color;
			span {
				color: $fourth_color;
			}
		}
	}
	div {
		&.box_white_1,
		&.box_white_2,
		&.box_white_6 {
			padding: 20px;
			background-color: #fff;
		}
		&.box_white_1 {
			color: $fourth_color;
		}
		&.box_white_2 {
			color: $secondary_color;
		}
		&.box_white_3 {
			padding: 20px;
			background-color: $background;
			h3 {
				font-size: 14px;
				color: $secondary_color;
			}
			ul {
				margin: 0;
				list-style: none;
			}
		}
		&.box_white_4 {
			padding: 20px;
			background-color: $secondary_color;
			color: #fff;
			p {
				margin: 0;
			}
			a,
			button {
				&.button {
					margin: 0;
					border-color: #fff;
					color: #fff;
				}
			}
		}
		&.box_white_5 {
			padding: 20px;
			background-color: $fourth_color;
			color: #fff;
		}
		&.valign-center {
			width: 100%;
			display: table;
			.box {
				display: table-cell;
				vertical-align: middle;
			}
		}
		&.circle {
			width: 350px;
			height: 350px;
			margin: auto;
			padding-top: 90px;
			background-color: rgba(170, 197, 213, 0.28);
			border-top-left-radius: 50%;
			border-top-right-radius: 50%;
			border-bottom-right-radius: 50%;
			border-bottom-left-radius: 50%;
			font-size: 20px;
			line-height: 1.1em;
		}
		&.bg_yellow {
			background-color: rgba(171, 128, 48, 0.5);
			p {
				font-size: 18px;
				color: #fff;
			}
		}
		&.space {
			height: 20px;
		}
	}
	p {
		&.italic {
			font-size: 20px;
			font-style: italic;
			span {
				color: $fourth_color;
			}
		}
		&.profile {
			img {
				width: 250px;
				height: 250px;
			}
		}
		&.magenta {
			span {
				color: $fourth_color;
			}
		}
		&.big {
			font-size: 20px;
		}
	}
	ul {
		&.home {
			list-style: none;
		}
		&.accordion {
			li.accordion-item {
				&.is-active {
					a.accordion-title {
						background-color: $secondary_color;
						color: #fff;
					}
				}
				a.accordion-title {
					padding: 10px;
					background-color: $background;
					border: none;
					font-weight: bold;
					color: $secondary_color;
					text-align: left;
					text-transform: uppercase;
				}
				div.accordion-content {
					margin-bottom: 20px;
					padding: 10px;
					border: 1px solid $border;
					p {
						font-size: 14px;
						color: $primary_color;
					}
				}
			}
		}
	}
	a {
		&.button {
			border-color: $fourth_color;
			color: $fourth_color;
		}
	}
	input {
		&.button {
			background-color: $fourth_color;
		}
	}
	.font-16 {
		font-size: 16px;
	}
	.font-18 {
		font-size: 18px;
		&.blue {
			color: $secondary_color;
		}
	}
	.font-20 {
		font-size: 20px;
	}
	.font-22 {
		font-size: 22px;
		&.blue {
			color: $secondary_color;
		}
	}
	.font-24 {
		font-size: 24px;
	}
	.font-26 {
		font-size: 26px;
	}
	.font-34 {
		font-size: 34px;
	}
	.font-38 {
		font-size: 38px;
	}
	.font-54 {
		font-size: 54px;
	}
}

/* Block 1 */

.block_1 {
	padding: 30px 0;
	background-color: rgb(59, 67, 78);
	.moduletable_b11 {
		h2 {
			margin-bottom: 10px;
			font-size: 46px;
			color: rgb(245, 213, 98);
			line-height: 1em;
		}
		p {
			margin: 0;
			font-size: 24px;
			color: #fff;
		}
	}
}

/* Block 2 */

.block_2 {
	padding: 30px 0;
	.moduletable_b21 {
		h2 {
			margin-bottom: 30px;
			font-size: 24px;
			span {
				color: $fourth_color;
			}
		}
		h3 {
			font-size: 36px;
			color: $fourth_color;
		}
		h4 {
			font-size: 16px;
			color: $fourth_color;
		}
		p {
			font-size: 20px;
			&.grey {
				margin-bottom: 30px;
				color: rgb(176, 176, 176);
			}
			&.small {
				font-size: 14px;
			}
		}
	}
}

/* Block 3 */

.block_3 {
	padding: 80px 0;
	background-color: rgb(103, 111, 121);
	.moduletable_b31 {
		h2 {
			font-size: 24px;
			color: #000;
			span {
				font-size: 48px;
				color: #fff;
			}
		}
		p {
			color: #fff;
			a {
				color: #fff;
			}
		}
	}
}

/* Block 4 */

.block_4 {
	padding: 20px 0;
	background-color: $background;
	.moduletable_b41 {
		h2 {
			width: 50%;
			margin: 0;
			padding: 10px 0;
			font-size: 14px;
			text-align: center;
			float: left;
			position: relative;
		}
		.tnp-widget {
			width: 50%;
			float: left;
			position: relative;
			.tnp-field {
				margin: 0;
			}
			.tnp-field-email {
				width: 50%;
				float: left;
				position: relative;
				label {
					display: none;
				}
				input.tnp-email {
					margin: 0;
					background-color: #fff;
				}
			}
			.tnp-field-button {
				width: 30%;
				float: left;
				position: relative;
				input.tnp-submit {
					margin: 0;
					background-color: $fourth_color;
				}
			}
		}
	}
}

/* Block 5 */

.block_5 {
	padding: 30px 0;
	.moduletable_b51 {
		p {
			font-size: 16px;
		}
	}
}

/* Block 6 */

.block_6 {
	padding-bottom: 30px;
	.moduletable_b61 {
		padding-top: 30px;
		border-top: 1px solid $border;
		h2 {
			font-size: 14px;
		}
		a {
			&.icon {
				padding: 0 20px;
			}
		}
	}
}

/* Bottom */

.bottom {
	padding: 20px 0;
	background-color: #262424;
	.accordion {
		background: transparent;
		li.accordion-item {
			&.is-active {
				a.accordion-title {
					background-color: transparent;
				}
			}
			a.accordion-title {
				border: 0;
				color: #fff;
				text: {
					align: center;
					transform: uppercase;
				}
				&:hover,
				&:focus {
					background-color: transparent;
				}
			}
			div.accordion-content {
				padding: 10px;
				background-color: transparent;
				border: 0;
			}
		}
	}
	.moduletable_bo1,
	.moduletable_bo2 {
		color: #fff;
		p {
			margin: 0;
		}
		a {
			color: #fff;
		}
	}
	.moduletable_bo1 {
		ul.menu {
			li {
				background: {
					image: url(moduletable_bo1_menu_li_bg.png);
					position: right;
					repeat: no-repeat;
				}
				&:last-child {
					background: none;
				}
				a {
					padding: 5px 20px;
					font-size: 12px;
					text-transform: uppercase;
				}
			}
		}
	}
	.moduletable_bo2 {
		margin-top: 20px;
		padding-top: 20px;
		border-top: 1px dashed #fff;
		i {
			margin: 0 15px;
		}
	}
}

/* Copyright */

.copyright {
	padding: 10px 0;
	background-color: #000;
	color: #fff;
	a {
		color: #fff;
	}
}

/* Back To Top */

#back-to-top {
	width: 65px;
	height: 80px;
	right: 10px;
	bottom: 40px;
	background: {
		image: url(back-to-top_bg.png);
		repeat: no-repeat;
	}
	border: 0;
	font-size: 0;
	line-height: 80px;
	text: {
		align: center;
		decoration: none;
	}
	cursor: pointer;
	opacity: 0;
	transition: opacity 0.2s ease-out;
	position: fixed;
	z-index: 9999;
	&.show {
		opacity: 1;
	}
}

/* ---------- Media Queries ---------- */

/* Small only (639px) */

@media screen and (max-width: 39.9375em) {

	/* Top */

	.top {
		.moduletable_to1 {
			padding: 10px 5px;
		}
		.moduletable_to2 {
			margin: auto;
			float: none;
		}
		.moduletable_to3 {
			margin: 15px 0;
			.top-bar {
				.top-bar-title {
					width: 100%;
					margin: 0;
					text-align: center;
				}
				#responsive-menu {
					width: 100%;
					ul.menu {
						li {
							width: 100%;
							background: none;
							a {
								padding-top: 15px;
								text-align: center;
								display: block;
							}
						}
					}
				}
			}
		}
		.moduletable_to4 {
			padding: 10px 5px;
		}
	}

	/* Block 4 */

	.block_4 {
		.moduletable_b41 {
			h2 {
				width: 100%;
				margin-bottom: 10px;
				font-size: 16px;
				float: none;
			}
			.tnp-widget {
				width: 100%;
				float: none;
				.tnp-field-email {
					width: 60%;
				}
				.tnp-field-button {
					width: 40%;
				}
			}
		}
	}

	/* Bottom */

	.bottom {
		.moduletable_bo1 {
			ul.menu.align-center {
				li {
					width: 100%;
					background: transparent;
					a {
						text-align: center;
						white-space: normal;
					}
				}
			}
		}
	}

}

/* Medium and up (640px) */

@media screen and (min-width: 40em) {}

/* Medium only (640px and 1023px) */

@media screen and (min-width: 40em) and (max-width: 63.9375em) {}

/* Large and up (1024px) */

@media screen and (min-width: 64em) {}

/* Large only (1024px and 1199px) */

@media screen and (min-width: 64em) and (max-width: 74.9375em) {}

/* ---------- Others ---------- */

.clear {
	clear: both;
}