@charset "utf-8";
/* CSS Document */

/* ************************************************************************************************************************

THG

File:			app.scss
Author:			Amapolazul
Homepage:		www.amapolazul.com
Copyright:		2017

************************************************************************************************************************ */

/* ---------- Variables ---------- */

$primary_color: #5a5b5a;
$secondary_color: #2c334e;
$tertiary_color: #1b2030;
$fourth_color: #862366;
$fifth_color: #941e68;
$background: #f0f0f0;
$border: #e4e4e4;

/* ---------- General ---------- */

@import url('https://fonts.googleapis.com/css?family=Open+Sans');

* {
	margin: 0;
	padding: 0;
}

body {
	font: {
		family: 'Open Sans', sans-serif;
		size: 14px;
	}
	color: $primary_color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Open Sans', sans-serif;
}

a {
	color: $secondary_color;
	&:hover {
		color: $secondary_color;
	}
}

/* ---------- Template ---------- */

/* Top */

.top {
	.moduletable_to1 {}
	.moduletable_to2 {
		width: 250px;
		margin: auto;
		padding: 5px 0;
		background-color: $background;
		-webkit-border-radius: 0 0 10px 10px;
		border-radius: 0 0 10px 10px;
		color: $secondary_color;
		text-align: center;
		/*float: right;*/
		position: relative;
	}
	.moduletable_to3 {
		margin: 25px 0;
		.top-bar {
			padding: 0;
			background-color: transparent;
			.top-bar-title {
				margin: 0;
			}
			#responsive-menu {
				width: 100%;
				ul.menu {
					background-color: transparent;
					li {
						background: {
							image: url(moduletable_to3_menu_li_bg.png);
							position: right;
							repeat: no-repeat;
						}
						&:last-child {
							background: none;
						}
						&.current-menu-parent,
						&.current-menu-item,
						&.current_page_parent {
							a {
								border: {
									top: 2px solid $fourth_color;
									bottom: 2px solid $fourth_color;
								}
								color: $fourth_color;
							}
						}
						a {
							padding: 10px 15px;
							border: {
								top: 2px solid transparent;
								bottom: 2px solid transparent;
							}
							font-size: 11px;
							color: $secondary_color;
							text-transform: uppercase;
							&:hover {
								border: {
									top: 2px solid $fourth_color;
									bottom: 2px solid $fourth_color;
								}
								color: $fourth_color;
							}
							&:after {
								border: {
									top-width: 4px;
									left-width: 4px;
									right-width: 4px;
									top-color: $secondary_color;
								}
							}
						}
						&#menu-item-410,
						&#menu-item-554 {
							background: none;
						}
						&#menu-item-660,
						&#menu-item-661 {
							a {
								background-color: $secondary_color;
								border-radius: 10px;
								color: #fff;
								&:hover {
									background-color: $fourth_color;
								}
							}
						}
						ul.sub-menu {
							min-width: 150px;
							padding: 10px;
							background-color: #fff;
							border: 0;
							z-index: 100;
							li {
								padding: 5px 0;
								background-image: none;
								border-bottom: 1px solid $secondary_color;
								z-index: 100;
								a {
									width: 100%;
									padding: 10px 15px 10px 10px;
									border: none;
									text-transform: initial;
									z-index: 100;
									&:hover {
										background-color: $secondary_color;
										color: #fff;
										&:after {
											border: {
												color: transparent transparent transparent #fff;
											}
										}
									}
									&:after {
										margin-right: 0;
										right: 0;
										border: {
											top-color: transparent;
											color: transparent transparent transparent $secondary_color;
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
	.moduletable_to4 {
		p {
			margin-bottom: 5px;
			font-size: 11px;
			text-transform: uppercase;
		}
	}
	.moduletable_to5 {
		padding: 5px 0;
		ul {
			margin: 0;
			li {
				display: inline-block;
				&.current-lang {
					a {
						font-weight: normal !important;
						color: $primary_color !important;
					}
				}
				&:first-child {
					&:after {
						content: ' / ';
					}
				}
				a {
					font-size: 11px;
					font-weight: bold;
					color: $fourth_color;
					text-transform: uppercase;
				}
			}
		}
	}
}

/* Banner */

.banner {
	.moduletable_ba1 {
		.flexslider {
			margin: 0;
			ul {
				&.slides {
					width: 100%;
				}
			}
		}
	}
}

/* Content */

.content {
	padding: 30px 0;
	h1 {
		&.title_home,
		&.title_content {
			margin-bottom: 30px;
			font-size: 18px;
			color: $secondary_color;
			span {
				font-weight: bold;
			}
		}
		&.title_content {
			font-weight: bold;
			color: $secondary_color;
		}
	}
	h2 {
		font-size: 14px;
		font-weight: bold;
		color: $secondary_color;
	}
	div {
		&.box_white_1,
		&.box_white_2,
		&.box_white_6 {
			padding: 20px;
			background-color: #fff;
		}
		&.box_white_1 {
			color: $fourth_color;
		}
		&.box_white_2 {
			color: $secondary_color;
		}
		&.box_white_3 {
			padding: 20px;
			background-color: $background;
			h3 {
				font-size: 14px;
				color: $secondary_color;
			}
			ul {
				margin-bottom: 0;
				/*list-style: none;*/
			}
		}
		&.box_white_4 {
			padding: 20px;
			background-color: $secondary_color;
			color: #fff;
			p {
				margin: 0;
				&.normal {
					margin-bottom: 1rem;
				}
			}
			a,
			button {
				&.button {
					margin: 0;
					border-color: #fff;
					color: #fff;
				}
			}
		}
		&.box_white_5 {
			padding: 20px;
			background-color: $fourth_color;
			color: #fff;
		}
		&.valign-center {
			width: 100%;
			display: table;
			.box {
				display: table-cell;
				vertical-align: middle;
			}
		}
		&.logos {
			.valign-center {
				border: 1px solid $border;
				img {
					max-width: 130px;
				}
			}
		}
		&.numbers {
			padding: 20px 0;
			color: $secondary_color;
			.number {
				width: 50px;
				height: 50px;
				padding: 10px 0;
				background-color: $secondary_color;
				border-radius: 50%;
				font-size: 20px;
				color: #fff;
				display: inline-block;
			}
		}
		.box_form {
			.box_top {
				margin-bottom: 10px;
				padding: 10px;
				border: 1px solid $border;
				p {
					margin: 0;
				}
				input,
				select {
					margin: 0;
					border: none;
					border-bottom: 1px solid $border;
					box-shadow: none;
				}
			}
			.box_bottom {
				p {
					margin: 0;
				}
				.title_message {
					padding: 10px;
					background-color: $fifth_color;
					color: #fff;
					text-align: center;
				}
				textarea {
					margin: 0;
					border: none;
					box-shadow: none;
				}
				input.button {
					width: 100%;
					margin: 0;
				}
			}
		}
		&.space {
			height: 20px;
		}
	}
	ul {
		&.home {
			list-style: none;
		}
		&.accordion {
			li.accordion-item {
				&.is-active {
					a.accordion-title {
						background-color: $secondary_color;
						color: #fff;
					}
				}
				a.accordion-title {
					padding: 10px;
					background-color: $background;
					border: none;
					font-weight: bold;
					color: $secondary_color;
					text-align: left;
					text-transform: uppercase;
				}
				div.accordion-content {
					margin-bottom: 20px;
					padding: 10px;
					border: 1px solid $border;
					p {
						font-size: 14px;
						color: $primary_color;
					}
				}
			}
		}
	}
	a {
		&.button {
			border-color: $secondary_color;
			color: $secondary_color;
		}
	}
	input {
		&.button {
			background-color: $secondary_color;
		}
	}
	.font-16 {
		font-size: 16px;
		&.blue {
			color: $secondary_color;
		}
	}
	.font-18 {
		font-size: 18px;
		&.blue {
			color: $secondary_color;
		}
	}
	.font-20 {
		font-size: 20px;
		&.blue {
			color: $secondary_color;
		}
	}
	.font-22 {
		font-size: 22px;
		&.blue {
			color: $secondary_color;
		}
	}
	.font-24 {
		font-size: 24px;
	}
	.font-26 {
		font-size: 26px;
	}
	.font-34 {
		font-size: 34px;
	}
	.font-38 {
		font-size: 38px;
	}
	.font-54 {
		font-size: 54px;
	}
}

/* Block 1 */

.block_1 {
	padding: 30px 0;
	background-color: $background;
}

/* Block 2 */

.block_2 {
	padding: 30px 0;
	.moduletable_b21 {
		h2 {
			margin-bottom: 20px;
			padding-bottom: 40px;
			background: {
				image: url(block_2_h2_bg.png);
				position: bottom;
				repeat: no-repeat;
			}
			font-size: 12px;
			color: $secondary_color;
		}
		a {
			&.button {
				border-color: $secondary_color;
				color: $secondary_color;
			}
		}
	}
}

/* Block 3 */

.block_3 {
	padding-bottom: 30px;
	.moduletable_b31 {
		padding-top: 30px;
		border-top: 1px solid $border;
		h2 {
			font-size: 14px;
		}
		a {
			&.icon {
				padding: 0 20px;
			}
		}
		.logo_iata {
			img	{
				width: 180px;
			}
		}
	}
}

/* Block 4 */

.block_4 {
	padding: 20px 0;
	background-color: $background;
	.moduletable_b41 {
		h2 {
			width: 50%;
			margin: 0;
			padding: 10px 0;
			font-size: 14px;
			text-align: center;
			float: left;
			position: relative;
		}
		.tnp-widget {
			width: 50%;
			float: left;
			position: relative;
			.tnp-field {
				margin: 0;
			}
			.tnp-field-email {
				width: 50%;
				float: left;
				position: relative;
				label {
					display: none;
				}
				input.tnp-email {
					margin: 0;
					background-color: #fff;
				}
			}
			.tnp-field-button {
				width: 30%;
				float: left;
				position: relative;
				input.tnp-submit {
					margin: 0;
					background-color: $secondary_color;
				}
			}
		}
	}
}

/* Bottom */

.bottom {
	padding: 20px 0;
	background-color: $secondary_color;
	.accordion {
		background: transparent;
		li.accordion-item {
			&.is-active {
				a.accordion-title {
					background-color: transparent;
				}
			}
			a.accordion-title {
				border: 0;
				color: #fff;
				text: {
					align: center;
					transform: uppercase;
				}
				&:hover,
				&:focus {
					background-color: transparent;
				}
			}
			div.accordion-content {
				padding: 10px;
				background-color: transparent;
				border: 0;
			}
		}
	}
	.moduletable_bo1,
	.moduletable_bo2 {
		color: #fff;
		p {
			margin: 0;
		}
		a {
			color: #fff;
		}
	}
	.moduletable_bo1 {
		ul.menu {
			li {
				background: {
					image: url(moduletable_bo1_menu_li_bg.png);
					position: right;
					repeat: no-repeat;
				}
				&:last-child {
					background: none;
				}
				a {
					padding: 5px 20px;
					font-size: 12px;
					text-transform: uppercase;
				}
			}
		}
	}
	.moduletable_bo2 {
		margin-top: 20px;
		padding-top: 20px;
		border-top: 1px dashed #fff;
		i {
			margin: 0 15px;
		}
	}
}

/* Copyright */

.copyright {
	padding: 10px 0;
	background-color: $tertiary_color;
	color: #fff;
	a {
		color: #fff;
	}
}

/* Back To Top */

#back-to-top {
	width: 65px;
	height: 80px;
	right: 10px;
	bottom: 40px;
	background: {
		image: url(back-to-top_bg.png);
		repeat: no-repeat;
	}
	border: 0;
	font-size: 0;
	line-height: 80px;
	text: {
		align: center;
		decoration: none;
	}
	cursor: pointer;
	opacity: 0;
	transition: opacity 0.2s ease-out;
	position: fixed;
	z-index: 9999;
	&.show {
		opacity: 1;
	}
}

/* ---------- Media Queries ---------- */

/* Small only (639px) */

@media screen and (max-width: 39.9375em) {

	/* Top */

	.top {
		.moduletable_to1 {
			padding: 10px 5px;
		}
		.moduletable_to2 {
			margin: auto;
			float: none;
		}
		.moduletable_to3 {
			margin: 15px 0;
			.top-bar {
				.top-bar-title {
					width: 100%;
					margin: 0;
					text-align: center;
				}
				#responsive-menu {
					width: 100%;
					ul.menu {
						li {
							width: 100%;
							background: none;
							a {
								padding-top: 15px;
								text-align: center;
								display: block;
							}
						}
					}
				}
			}
		}
		.moduletable_to4 {
			padding: 10px 5px;
		}
	}

	/* Block 4 */

	.block_4 {
		.moduletable_b41 {
			h2 {
				width: 100%;
				margin-bottom: 10px;
				font-size: 16px;
				float: none;
			}
			.tnp-widget {
				width: 100%;
				float: none;
				.tnp-field-email {
					width: 60%;
				}
				.tnp-field-button {
					width: 40%;
				}
			}
		}
	}

	/* Bottom */

	.bottom {
		.moduletable_bo1 {
			ul.menu.align-center {
				li {
					width: 100%;
					background: transparent;
					a {
						text-align: center;
						white-space: normal;
					}
				}
			}
		}
	}

}

/* Medium and up (640px) */

@media screen and (min-width: 40em) {}

/* Medium only (640px and 1023px) */

@media screen and (min-width: 40em) and (max-width: 63.9375em) {}

/* Large and up (1024px) */

@media screen and (min-width: 64em) {}

/* Large only (1024px and 1199px) */

@media screen and (min-width: 64em) and (max-width: 74.9375em) {}

/* iPad Pro (1024px and 1124px) */

@media screen and (min-width: 64em) and (max-width: 70.25em) {

	/* Top */

	.top {
		.moduletable_to1 {
			img {
				height: 80px;
			}
		}
		.moduletable_to4 {
			img {
				height: 90px;
			}
		}
	}

}

/* ---------- Others ---------- */

.clear {
	clear: both;
}