@charset "utf-8";
/* CSS Document */

/* ************************************************************************************************************************

Book Travel Center

File:			app.scss
Author:			Amapolazul
Homepage:		www.amapolazul.com
Copyright:		2017

************************************************************************************************************************ */

/* ---------- Variables ---------- */

$primary_color: #000;
$secondary_color: #d61968;
$background: #e0e0e0;

/* ---------- General ---------- */

@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
	font: {
		family: 'Open Sans', sans-serif;
		size: 14px;
	};
}

/* ---------- Template ---------- */

/* Header */

#header_content {
	border-bottom: 0 !important;
}

/* Logo */

.span4_logo {
	text-align: center;
}

/* Menu */

.menu_principal_pag {
	background-color: $primary_color;
	border-bottom: 5px solid $secondary_color;
	.navbar {
		ul.nav {
			li {
				height: 30px !important;
				margin-top: 0;
				padding: {
					top: 10px !important;
					left: 18px !important;
					right: 18px !important;
				}
				&.active {
					background-color: $secondary_color !important;
					a {
						background-color: transparent !important;
						color: #fff !important;
					}
				}
				a {
					font-family: 'Open Sans', sans-serif !important;
					color: #fff !important;
					text-transform: initial !important;
					&:hover {
						color: $secondary_color !important;
					}
				}
			}
		}
	}
}

.navbar .nav>li>.dropdown-menu:after {
	border-bottom: 15px solid #000 !important;
}

/* Widget */

.Epale .ui-tabs .ui-tabs-nav li {
	background-color: $secondary_color !important;
	&.ui-state-active {
		background-color: $background !important;
		a {
			color: $secondary_color !important;
		}
	}
	a {
		color: #fff !important;
	}
}

.Epale input[type='submit'].btnSearch {
	background-color: $secondary_color !important;
	color: #fff !important;
}

/* Contents */

h2 {
	&.titulo1,
	&.titulo2 {
		font-family: 'Open Sans', sans-serif !important;
	}
}

ul.dnnAdminTabNav {
	background-color: rgba(0, 0, 0, 0.5) !important;
	li.ui-state-default {
		background-color: rgba(0, 0, 0, 0.5) !important;
		a {
			background-color: rgba(0, 0, 0, 0.5) !important;
		}
	}
}

/* ---------- Media Queries ---------- */

/* Extra small devices */

@media (max-width: 767px) {

	/* Menu */

	.menu_principal_pag {
		margin-top: 10px;
		.navbar {
			margin-top: 0;
			#top-menu {
				a {
					color: #fff !important;
				}
			}
			ul.nav-pills {
				background-color: $primary_color;
				li {
					a {
						background-color: transparent !important;
						border: 0 !important;
					}
				}
			}
		}
	}

}

/* Small devices */

@media (min-width: 768px) and (max-width: 991px) {}

/* Medium devices */

@media (min-width: 992px) and (max-width: 1199px) {

	/* Menu */

	.menu_principal_pag {
		.navbar {
			ul.nav {
				li {
					padding: {
						left: 5px !important;
						right: 5px !important;
					}
				}
			}
		}
	}

}

/* Large devices */

@media (min-width: 1200px) {}

/* ---------- Others ---------- */

.img-center {
	margin: auto;
}

.clear {
	clear: both;
}